---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact — s_0 studio">

<section>
  <h1>Contact</h1>
<p>

</p>
  <p>Email: info@s0-studio.com</p>
  <p>Phone: +40 770 644 501</p>

  <p>
    WhatsApp:
    <a href="https://wa.me/40770644501" target="_blank" rel="noopener">
      +40 770 644 501
    </a>
  </p>

  <p>
    <a
      href="https://www.instagram.com/sector0_studio"
      target="_blank"
      rel="noopener"
    >
      Instagram
    </a>
    ·
    <a
      href="https://www.linkedin.com/company/YOUR_COMPANY"
      target="_blank"
      rel="noopener"
    >
      LinkedIn
    </a>
  </p>
</section>

<section class="map-fullbleed">
  <div class="map-wrapper">
    <iframe
      src="<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8796494880253!2d26.09479678208104!3d44.43563088511681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ffe663e18449%3A0x98064f2f1060bc47!2sSector%200%20Studio!5e0!3m2!1sen!2sro!4v1772002428660!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      aria-label="Studio location on map">
    </iframe>
  </div>
</section>

</BaseLayout>



