backend:
  name: git-gateway
  branch: main

media_folder: "public/images"
public_folder: "/images"

collections:
  - name: "projects"
    label: "Projects"
    folder: "src/content/projects"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Year", name: "year", widget: "string" }
      - { label: "Location", name: "location", widget: "string" }
      - { label: "Images", name: "images", widget: "image", multiple: true }
      - { label: "Description", name: "body", widget: "markdown" }